.footer {
    background-color: #000000; /* Dark background color */
    color: #FFFFFF; /* White text color */
    padding: 40px 20px;
    font-size: 14px;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 20%;
    margin-bottom: 20px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    color: #FFFFFF; /* White text color */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: #999999; /* Light gray color on hover */
  }
  
  .contact{
    font-weight: bold;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333333;
    margin-top: 20px;
  }
  